@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --dark-blue: hsl(218, 44%, 22%);
    --font-size: 0.9375rem;
    --grayish-blue: hsl(220, 15%, 55%);
    --light-gray: hsl(212, 45%, 89%);
    --weight-400: 400;
    --weight-700: 700;
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color-scheme: light only;
}

html,
body {
    background-color: var(--light-gray);
    font-family: "Outfit", serif;
    font-size: var(--font-size);
}

.card {
    background-color: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    left: 50%;
    margin: 0 auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
}

.card-image {
    border-radius: 0.5rem;
    width: 100%;
}

.card-paragraph-one {
    color: var(--dark-blue);
    font-size: x-large;
    font-weight: var(--weight-700);
    text-align: center;
}

.card-paragraph-two {
    color: var(--grayish-blue);
    font-size: large;
    font-weight: var(--weight-400);
    margin-bottom: 20px;
    text-align: center;
}

.author {
    bottom: 0;
    color: var(--grayish-blue);
    opacity: 0.25;
    position: absolute;
    right: 5px;
}

/*350px*/
@media (width < 21.875em) {
    .card {
        width: 80%;
    }
}